body {
  background-color: black;
}
h1 {
  color: skyblue;
}
button {
  background-color: purple;
  color: yellow;
}

canvas {
  border: 2px solid black;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
